<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @merchandise.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @merchandise.price %>
</p>

<%= link_to 'Edit', edit_merchandise_path(@merchandise) %> |
<%= link_to 'Back', merchandises_path %>
