<p id="notice"><%= notice %></p>

<p>
  <strong>M:</strong>
  <%= @membership.m_id %>
</p>

<p>
  <strong>M name:</strong>
  <%= @membership.m_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @membership.price %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
