<%= form_with(model: one_day_pass, local: true) do |form| %>
  <% if one_day_pass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(one_day_pass.errors.count, "error") %> prohibited this one_day_pass from being saved:</h2>

      <ul>
        <% one_day_pass.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_of_pass %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :select_pass %>
    <%= form.collection_select(:pass_category_id, PassCategory.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <%
=begin%>
  how to create a hidden field?
 <td><%= one_day_pass.hidden_field member_id: @member.id %></td>
  <td><%= one_day_pass.collection_select(:pass_category_id, PassCategory.all, :id, :name) %></td> 
<%
=end%>


<% end %>
