<p id="notice"><%= notice %></p>

<p>
  <strong>Mem:</strong>
  <%= @member.mem_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @member.postcode %>
</p>

<p>
  <strong>Membership:</strong>
  <%= @member.membership_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @member.date %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
